.variable {
    color: blue;
}
.type {
    color: blueviolet;
}
.keyword {
    color:brown;
}
.delimiter {
    color:cadetblue;
    font-weight: bold;
}
.operator {
    color: darkblue;
}
.literal {
    color: crimson;
}
.comment {
    color: gray;
}
.declname {
    color: darkmagenta;
}